[submodule "/home/kynzie/.vim/bundle/Vundle.vim"]
	path = /home/kynzie/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "/home/kynzie/.vim/bundle/vim-gitgutter"]
	path = /home/kynzie/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "/home/kynzie/.vim/bundle/YouCompleteMe"]
	path = /home/kynzie/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "/home/kynzie/.vim/bundle/cscope.vim"]
	path = /home/kynzie/.vim/bundle/cscope.vim
	url = https://github.com/vim-scripts/cscope.vim.git
[submodule "/home/kynzie/.vim/bundle/vim-colorschemes"]
	path = /home/kynzie/.vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
