alias ls='ls --classify --tabsize=0 --literal --color --show-control-chars --human-readable'
alias l='ls'
alias ll='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias df='df -h'
alias du='du -h'
alias diff='diff -uprN --color'
psfu='ps fu --ppid 2 -p 2 --deselect'
alias grep='grep --color'
alias egrep='egrep --color'
alias ssh='TERM=xterm-256color ssh'
alias klog='dmesg --color=always | less -R'

{% if YADM_USER == 'kynzie' -%}
alias gitk='gitk --all &'
alias v='gvim'
alias mutt='neomutt'
alias gpg='gpg2'
alias z='zathura'
{% else -%}
alias v="$EDITOR"
{% endif -%}
